{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="http://127.0.0.1:5500/reg/static/image/v0PnusRa6aM.jpg" type="image/x-icon">
    <title>panel</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg bg-body-tertiary"  data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="static/image/xelobalogo.jpeg" alt="Bootstrap" width="60" height="60">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#users">მომხმარებლები</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#statistics">სტატისტიკა</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#onOff">Front ის გათიშვა</a>
          </li>
          <li class="nav-item float-sm-end" >
            {% for s in status %}

            {% if s.status == 'true' %}
              <li class="nav-link  float-sm-end" style="color: white;">საიტის: აქტიურია</li>

            {% else %}
              <li class="nav-link  float-sm-end" style="color: white;">საიტი: არააქტიური</li>
            
            {% endif %}
            

            {% endfor %}
            
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="accordion" id="accordionPanelsStayOpenExample" style="width: 80%;margin: 15px auto;">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          ფილტრი
        </button>
      </h2>
     
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse hide">
        
        <div class="accordion-body">
            <div class="alert alert-info" role="alert">
            <select class="form-select mt-3" aria-label="Default select example" id="filterSelect">
              <option selected value="all">კატეგორია</option>
              {% for category in categories %}
                  <option value="{{ category }}">{{ category }}</option>
              {% endfor %}
            </select>
            <div class="input-group mb-3 mt-3">
              <input type="text" id="search" class="form-control" placeholder="ძებნᲐ">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<section class="container-lg">
    <div id="users" class="users">
      <div class="userlist">
        <div class="addusers">
          <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addusers">დამატება</button>
        </div>
       

        <table class="table table-light table-hover" id="filter">
          <thead>
            <tr>
              <th colspan="4"> 
                <div class="alert alert-info" role="alert">
                  user სულ: {{users|length}}
                  <h4 class="pt-3">სმს ბალანსი: {{smsbalance}}</h4>
                </div>
              </th>
            </tr>
            <tr>
              <th scope="col">ID </th>
              <th scope="col">სახელი და გვარი</th>
              <th scope="col">კატეგორია </th>
              <th scope="col">სტატუსი </th>
              <th scope="col">დეტალური</th>
            </tr>
          </thead>
          <tbody>
        
          {% for x in users %}
            
            <tr data-category="{{x.category}}">
              <td>{{x.userID}}</td>
              <td>{{x.name}}, {{x.lastname}}</td>
              <td>{{x.profession}}</td>

              {% if x.status == 'true' %}
                <td style="color: green; font-size: 25px"><i class="bi bi-person-check"></i> კი</td>
              {% else %}
                <td style="color: red; font-size: 25px;"></i>
                  <form action="verifyuser" method="post">
                    {% csrf_token %} 
                    <input type="hidden" value="{{x.phoneNumber}}" name="phoneNumber">
                    <input type="hidden" value="{{x.name}}" name="name">
                    <input type="hidden" value="{{x.userID}}" name="userid">
                    <button type="submit" class="btn btn-outline-danger">აქტივაცია</button>
                  </form>
                </td>
              {% endif %}

              <td><button type="button" id="{{x.userID}}" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#m{{x.userID}}">ვრცლად</button></td>

            </tr>
            

          {% endfor %}
          
        </tbody>
      </table>
    </div>
  </div>
  <div id="statistics" class="statistics mt-3">
    <h2>სტატისტიკა</h2>

    <div>
      <a href="/statistics" class="btn btn-outline-success">გადმოწერა</a>
    </div>

  </div>
</section>

<!-- Modal view users-->

{% for x in users %}
  <div class="modal fade" id="m{{x.userID}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">პროფილი</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="edit" method="post">
            {% csrf_token %} 
            
            <div class="card"> 
              <img src="http://127.0.0.1:5500/dbImages/dbImages/{{x.profileimgs}}" class="card-img-top" alt="u673563y65">
              <div class="card-body">
                <h5 class="card-title">{{x.userID}}</h5>
                <p class="card-text">

                  <input type="hidden" value="{{x.userID}}" name="userid">
                  <p class="card-text">

                    <div class="input-group mb-3">
                      <label for="exampleFormControlInput1" class="input-group-text">სახელი</label>
                      <input type="text" class="form-control" name="name" id="exampleFormControlInput1" placeholder="{{x.name}}" value="{{x.name}}">
                    </div>

                    <div class="input-group mb-3">
                      <label for="exampleFormControlInput1" class="input-group-text">ვერიფიცირება</label>
                      <input type="text" class="form-control" name="verify" id="exampleFormControlInput1" placeholder="{{x.status}}" value="{{x.status}}"> 
                      <br>
                      <span style="color: red; padding: 7px 3px;">0 = არა, 1 = კი</span>
                    </div>

                  
                    <div class="input-group mb-3">
                      <label for="exampleFormControlInput1" class="input-group-text">გვარი</label>
                      <input type="text" class="form-control" name="surName" id="exampleFormControlInput1" placeholder="{{x.lastname}}" value="{{x.lastname}}">
                    </div>

                    <div class="input-group mb-3">
                      <label for="exampleFormControlInput1" class="input-group-text">პირადი ID</label>
                      <input type="text" class="form-control" name="personalIdNumber" id="exampleFormControlInput1" placeholder="{{x.personalID}}" value="{{x.personalID}}">
                    </div>

                    <div class="input-group mb-3">
                      <label for="exampleFormControlInput1" class="input-group-text">ტელეფონის ნომერი</label>
                      <input type="text" class="form-control" name="phoneNumber" id="exampleFormControlInput1" placeholder="{{x.phoneNumber}}" value="{{x.phoneNumber}}">
                    </div>

                    <div class="input-group mb-3">
                      <label for="exampleFormControlInput1" class="input-group-text">ელ ფოსტა</label>
                      <input type="email" class="form-control" name="email" id="exampleFormControlInput1" placeholder="{{x.email}}" value="{{x.email}}">
                    </div>

                    <div class="input-group mb-3">
                      <label for="exampleFormControlInput1" class="input-group-text">პაროლი</label>
                      <input type="password" class="form-control" name="password" id="exampleFormControlInput1" placeholder="{{x.password}}" value="{{x.password}}">
                    </div>

                    <div class="input-group mb-3">
                      <label for="exampleFormControlInput1" class="input-group-text">ქალაქი</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="{{x.city}}" value="{{x.city}}" readonly>
                    </div>
                    
                    <div class="input-group mb-3">
                      <label for="exampleFormControlInput1" class="input-group-text">უბანი</label>
                      <input type="text" class="form-control" name="district" id="exampleFormControlInput1" placeholder="{{x.district}}" value="{{x.district}}">
                    </div>

                    <label for="exampleDataList" class="input-group-text">კატეგორია</label>
                    <input class="form-control" list="datalistOptions" name="mainProfession" id="exampleDataList" placeholder="კატეგორიის ძებნᲐ">
                    <datalist id="datalistOptions">
                    {% for category in categories %}
                        <option value="{{ category }}"></option>
                    {% endfor %}
                    </datalist>
                  </p>

                </p>
                <p class="card-text">
                  <small class="text-body-danger center">აქტიურობა: {{x.setDate}}</small>
                </p>
              </div>
              <button class="btn btn-outline-success mt-3" type="submit">რედაქტირება</button>
            </div>
          </form>
          <form action="/del" method="post">
            {% csrf_token %} 
            <input type="hidden" name="userDel" id="" value="{{x.userID}}">
            <button class="btn btn-outline-danger mt-3" type="submit">{{x.name}}-ის წაშლა</button>
          </form>

        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endfor %}


<!-- Modal add users-->

<div class="modal fade" id="addusers" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">მომხმარებლებლის დამატება</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <h5 class="card-title">{{x.userID}}</h5>
          <p class="card-text">


            <p class="card-text">
              <form action="/addusers" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group mb-3">
                  <label for="exampleFormControlInput1" class="input-group-text">ფოტო</label>
                  <input type="file" class="form-control" name="profilimg" id="exampleFormControlInput1" placeholder="ფოტო">
                </div>
  
                <div class="input-group mb-3">
                  <label for="exampleFormControlInput1" class="input-group-text">სახელი</label>
                  <input type="text" class="form-control" name="name" id="exampleFormControlInput1" placeholder="შოთა">
                </div>
  
                <div class="input-group mb-3">
                  <label for="exampleFormControlInput1" class="input-group-text">გვარი</label>
                  <input type="text" class="form-control" name="surName" id="exampleFormControlInput1" placeholder="რუსთაველი">
                </div>
  
                <div class="input-group mb-3">
                  <label for="exampleFormControlInput1" class="input-group-text">პირადი ID</label>
                  <input type="text" class="form-control" name="personalID" id="exampleFormControlInput1" placeholder="პ/ნ">
                </div>
  
                <div class="input-group mb-3">
                  <label for="exampleFormControlInput1" class="input-group-text">ტელეფონის ნომერი</label>
                  <input type="number" class="form-control" name="mobile" id="exampleFormControlInput1" placeholder="ნომერი">
                </div>
  
                <div class="input-group mb-3">
                  <label for="exampleFormControlInput1" class="input-group-text">ელ ფოსტა</label>
                  <input type="email" class="form-control" name="email" id="exampleFormControlInput1" placeholder="ფოსტა">
                </div>
  
                <div class="input-group mb-3">
                  <label for="exampleFormControlInput1" class="input-group-text">პაროლი</label>
                  <input type="password" class="form-control" name="password" id="exampleFormControlInput1" placeholder="პაროლი">
                </div>
  
                <div class="input-group mb-3">
                  <label for="exampleFormControlInput1" class="input-group-text">ქალაქი</label>
                  <input type="text" class="form-control" name="city" id="exampleFormControlInput1" placeholder="თბილისი"  value="თბილისი" readonly>
                </div>
                
                <div class="input-group mb-3">
                  <label for="exampleFormControlInput1" class="input-group-text">უბანი</label>
                  <input type="text" class="form-control" name="district" id="exampleFormControlInput1" placeholder="საბურთალო" >
                </div>
  
                <div class="input-group mb-3">
                  <label for="exampleFormControlInput1" class="input-group-text">გამოცდილება</label>
                  <input type="number" class="form-control" name="experience" id="exampleFormControlInput1" placeholder="გამოცდილება">
                </div>
                
                <div class="input-group mb-3">
                  <label for="exampleFormControlInput1" class="input-group-text">ხელფასი</label>
                  <input type="number" class="form-control" name="salary" id="exampleFormControlInput1" placeholder="ხელფასი">
                </div>
  
                <label for="exampleDataList" class="input-group-text">კატეგორია</label>
                <input class="form-control" list="datalistOptions" name="profession" id="exampleDataList" placeholder="კატეგორიის ძებნᲐ">
                <datalist id="datalistOptions">
                {% for category in categories %}
                    <option value="{{ category }}"></option>
                {% endfor %}
                </datalist>
                <button type="submit" class="btn btn-primary">დამატება</button>

              </form>  
            </p>

          </p>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="onOff" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">გათიშვა</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <p class="card-text">


            <p class="card-text">
              <form action="/onOff" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group mb-3">
                  <label for="exampleFormControlInput1" class="input-group-text">true/false</label>
                  <input type="text" class="form-control" name="status" id="exampleFormControlInput1" placeholder="status">
                </div>
                <button type="submit" class="btn btn-outline-danger">გათიშვა</button>
              </form>  
            </p>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
$(document).ready(function() {
    // Filter based on input field
    $('#search').on('input', function() {
        var searchTerm = $(this).val().toLowerCase();
        $('#filter tr').each(function() {
            var text = $(this).text().toLowerCase();
            if (text.indexOf(searchTerm) === -1) {
                $(this).hide();
            } else {
                $(this).show();
            }
        });
    });

    // Filter based on dropdown menu
    $('#filterSelect').on('change', function() {
        var selectedOption = $(this).val();
        $('#filter tr').each(function() {
            var category = $(this).data('category');
            if (selectedOption === 'all' || category === selectedOption) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    });
});

</script>
</body>
</html>